.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.5rem;
    background-color: grey;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    min-width: 9rem;
    min-height: 9rem;
}

.text_plus-grand-egal-1024 {
    display: none;
}

.text_plus-petit-1024 {
    display: none;
}

.image img {
    padding: 2rem;
    width: 10rem;
}

.container__keyboards {
    display: flex;
    gap: 1rem;
    background-color: rgb(226, 255, 255);
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 19rem;
    }
    
    .text_plus-petit-1024 {
        display: block;
    }
    
    .text_plus-petit-768 {
        display: none;
    }

    .text_plus-grand-egal-1024 {
        display: none;
    }
}

@media screen and (min-width: 1023px) {
    .container {
    flex-direction: row;
    }

    .text_plus-petit-1024 {
        display: none;
    }

    .text_plus-grand-egal-1024 {
        display: block;
        font-size: 0.8rem;
    }
}